<!DOCTYPE html>
<html lang="ko">
<head>
    <style>
      .items {
          display: flex;
      }
        
      a {
        
        color: black;
        text-decoration: none;
        padding: 10px;
      }
      
      a:hover,
      a:focus {
        color: blue;
        text-decoration: underline;
      }
    </style>
    <meta charset="UTF-8">
    <meta name="view port" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <table class="dataframe">
    {{ html|safe }}
    </table>
    <div class=items>
        <a href="/">처음으로</a>
        <a href="/applydiff">다음</a>
    </div>
</body>
</html>