{%load static%}
<h1>컷만화생성</h1>
<html>
    <head>
    <style>
        
        a {
          color: black;
          text-decoration: none;
          padding: 10px;
        }

        a:hover,
        a:focus {
          color: blue;
          text-decoration: underline;
        }   

        .items {
          height: 70px;
          display: flex;
          align-items: center;
        }

        .right-items {
          display: flex;
          margin-right: auto;
        }

    </style>
    
    <meta charset="UTF-8">
    <meta name="view port" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
</head>
<body>
   <div class="items">     
       <div class=right-items>
         <a href="/">처음으로</a>
       </div>
   </div>
</body>

    
</html>

<SCRIPT>
    function show_cartoon()
    { 
      switch({{i}}) {
      case 0:
        document.write("<img src = \"{%static 'cap/image_result0.png'%}\"><br>");
        document.write("{{sent_0}}<br>");
        break;
          
      case 1:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");
        break;
          
      case 2:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        break;  
          
      case 3:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        document.write("<img src = \"{%static 'cap/image_result3.png' %}\"><br>");
        document.write("{{sent_3}}<br>");
        break;
          
      case 4:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        document.write("<img src = \"{%static 'cap/image_result3.png' %}\"><br>");
        document.write("{{sent_3}}<br>");
        document.write("<img src = \"{%static 'cap/image_result4.png' %}\"><br>");
        document.write("{{sent_4}}<br>");
        break;
          
      case 5:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        document.write("<img src = \"{%static 'cap/image_result3.png' %}\"><br>");
        document.write("{{sent_3}}<br>");
        document.write("<img src = \"{%static 'cap/image_result4.png' %}\"><br>");
        document.write("{{sent_4}}<br>");
        document.write("<img src = \"{%static 'cap/image_result5.png' %}\"><br>");
        document.write("{{sent_5}}<br>");
        break;
          
      case 6:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        document.write("<img src = \"{%static 'cap/image_result3.png' %}\"><br>");
        document.write("{{sent_3}}<br>");
        document.write("<img src = \"{%static 'cap/image_result4.png' %}\"><br>");
        document.write("{{sent_4}}<br>");
        document.write("<img src = \"{%static 'cap/image_result5.png' %}\"><br>");
        document.write("{{sent_5}}<br>");
        document.write("<img src = \"{%static 'cap/image_result6.png' %}\"><br>");
        document.write("{{sent_6}}<br>");
        break;
          
      case 7:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        document.write("<img src = \"{%static 'cap/image_result3.png' %}\"><br>");
        document.write("{{sent_3}}<br>");
        document.write("<img src = \"{%static 'cap/image_result4.png' %}\"><br>");
        document.write("{{sent_4}}<br>");
        document.write("<img src = \"{%static 'cap/image_result5.png' %}\"><br>");
        document.write("{{sent_5}}<br>");
        document.write("<img src = \"{%static 'cap/image_result6.png' %}\"><br>");
        document.write("{{sent_6}}<br>");
        document.write("<img src = \"{%static 'cap/image_result7.png' %}\"><br>");
        document.write("{{sent_7}}<br>");
        break;
          
      case 8:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        document.write("<img src = \"{%static 'cap/image_result3.png' %}\"><br>");
        document.write("{{sent_3}}<br>");
        document.write("<img src = \"{%static 'cap/image_result4.png' %}\"><br>");
        document.write("{{sent_4}}<br>");
        document.write("<img src = \"{%static 'cap/image_result5.png' %}\"><br>");
        document.write("{{sent_5}}<br>");
        document.write("<img src = \"{%static 'cap/image_result6.png' %}\"><br>");
        document.write("{{sent_6}}<br>");
        document.write("<img src = \"{%static 'cap/image_result7.png' %}\"><br>");
        document.write("{{sent_7}}<br>");
        document.write("<img src = \"{%static 'cap/image_result8.png' %}\"><br>");
        document.write("{{sent_8}}<br>");
        break;
          
      case 9:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        document.write("<img src = \"{%static 'cap/image_result3.png' %}\"><br>");
        document.write("{{sent_3}}<br>");
        document.write("<img src = \"{%static 'cap/image_result4.png' %}\"><br>");
        document.write("{{sent_4}}<br>");
        document.write("<img src = \"{%static 'cap/image_result5.png' %}\"><br>");
        document.write("{{sent_5}}<br>");
        document.write("<img src = \"{%static 'cap/image_result6.png' %}\"><br>");
        document.write("{{sent_6}}<br>");
        document.write("<img src = \"{%static 'cap/image_result7.png' %}\"><br>");
        document.write("{{sent_7}}<br>");
        document.write("<img src = \"{%static 'cap/image_result8.png' %}\"><br>");
        document.write("{{sent_8}}<br>");
        document.write("<img src = \"{%static 'cap/image_result9.png' %}\"><br>");
        document.write("{{sent_9}}<br>");
        break;

      default:
        document.write("<img src = \"{%static 'cap/image_result0.png' %}\"><br>");
        document.write("{{sent_0}}<br>");        
        document.write("<img src = \"{%static 'cap/image_result1.png' %}\"><br>");
        document.write("{{sent_1}}<br>");  
        document.write("<img src = \"{%static 'cap/image_result2.png' %}\"><br>");
        document.write("{{sent_2}}<br>");
        document.write("<img src = \"{%static 'cap/image_result3.png' %}\"><br>");
        document.write("{{sent_3}}<br>");
        document.write("<img src = \"{%static 'cap/image_result4.png' %}\"><br>");
        document.write("{{sent_4}}<br>");
        document.write("<img src = \"{%static 'cap/image_result5.png' %}\"><br>");
        document.write("{{sent_5}}<br>");
        document.write("<img src = \"{%static 'cap/image_result6.png' %}\"><br>");
        document.write("{{sent_6}}<br>");
        document.write("<img src = \"{%static 'cap/image_result7.png' %}\"><br>");
        document.write("{{sent_7}}<br>");
        document.write("<img src = \"{%static 'cap/image_result8.png' %}\"><br>");
        document.write("{{sent_8}}<br>");
        document.write("<img src = \"{%static 'cap/image_result9.png' %}\"><br>");
        document.write("{{sent_9}}<br>");
        break;
      }
    }
    show_cartoon();
</SCRIPT>